body{
	margin: 0;
	font-family: sans-serif, Microsoft JhengHei;
}
/*最上方選單*/
#top-container{
	width: 100%;
	height: 72.5px;
	margin: 0;
	background: white;
	z-index: 1;
	position: fixed;
	box-shadow: #666 0 0 5px;
	box-sizing: border-box;
}
#top{ 
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translate(0, -90%);
	display: flex;
}
#title{
	position: relative;
	margin-right: 50px;
}
.top-button{
	position: relative;
	display: inline;
	margin-right: 30px;
	margin-top: 4px;
}
.top-button-type{
	font-size: 16px;
	color: gray;
}
.top-button-type:hover{
	color: red;
}
nav{
	padding-top: 3.75%;
}



/*圖片輪播效果*/
.slider_container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    background-color: #f5f5f5;
    box-shadow: #666 0 0 5px;
}
.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.slider_container div {
    -webkit-animation: round 25s linear infinite;
            animation: round 25s linear infinite;
}
@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
.slider_container div:nth-child(5) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}


/*車款介紹*/
#car{
	position: relative;
	margin-top: 32.5%;
}
#car_type{
	position: relative;
	z-index: 0;
}
article{
	display: block;
}
div{
	display: block;
}
.main_title{
	position: relative;
	margin-top: 40%;
	text-align: center;
}
.second_1{
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}
.second_2{
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}
.car-info{
	position: relative;
	text-align: center;
}
.car-name{
	margin-top: 5%;
	margin-bottom: 2%;
	font-family: sans-serif;
	color: black;
}
.car-name:hover{
	color: red;
}
.car-price{
	color: gray;
}
.car-type-long{
	width: 35%;
	height: 20px;
	margin-top: 2%;
	background: gray;
    border: 1px solid;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-style:none;
}
.car-type-short{
	width: 18%;
	height: 20px;
	margin-top: 2%;
	background: gray;
    border: 1px solid;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-style:none;
}
.type-text{
	font-size: 14px;
	color: white;
}



/*會員註冊*/
.member-title{
	position: relative;
	margin-top: 6%;
	text-align: center;
}
.member-register-space{
	position: relative;
	z-index: 0;
	margin-top: 3%;
	width: 40%;
	height: 450px;
	left: 30%;
	margin-bottom: 5%;
	background: #EEEEEE;
	box-sizing: border-box;
}
#member-register-title{
	position: relative;
	padding-top: 5%;
	text-align: center;
}
#mail{
	position:relative;
	margin-top: 5%;
	left: 9%;
}
::-webkit-input-placeholder { /* Chrome, Safari */
    color: gray;
	font-weight: bolder;
}
i{
    position: absolute;
    z-index: 2;
	font-size: 24px;
	top: 27%;
    left: 2.5%;
    color: gray;
}
.member-register-input{
	position: relative;
    z-index: 1;
    width: 80%;
    height: 50px;
    border: 2px solid #BCA7A7;
    border-radius: 3px;
    color: black;
    outline: none;
    font-size: 18px;
    text-indent: 10%;
}
#member-register-text-space{
	text-align: center;
	margin-top: 3%;
}
.member-register-text{
	display:inline;
}
.member-register-hyperlink{
	color: #699ECC;
}
.member-register-hyperlink:hover{
	color: royalblue;
}
.g-recaptcha{
	position: relative;
	margin-top: 5%;
}
#submit-member-file{
	position: relative;
	left: 10%;
	margin-top: 5%;
}
#submit-member-file-input{
	width: 80%;
	height: 40px;
	font-size: 18px;
	color: black;
	font-weight: bolder;
	border: 2px solid #BCA7A7;
    border-radius: 3px;
}
#submit-member-file-input:hover{
	box-shadow: 0px 0px 5px 0px #AAAAAA;
	-webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
    -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
    border: 1px solid #000000;
}



/*關於我們*/
#about-us{
	display: flex;
	justify-content: space-around;
}
.about-us-block{
	width: 16.67%;
	height: 350px;
	margin-top: 2%;
}
.about-us-title{
	text-align: left;
	margin-left: 35%;
	font-size: 16px;
	color: #BA2235;
}
.about-us-text{
	list-style-type: none;
	text-align: left;
	margin-left: 35%;
	margin-top: 10%;
}
.about-us-text-container{
	margin-bottom: 3.3%;
}
.about-us-text-type{
	font-size: 14px;
	line-height: 0.5;
	font-family: sans-serif;
	color: gray;
}
.about-us-text-type:hover{
	color: red;
}



/*底部*/
#bottom{
	width: 100%;
	height: 86px;
	background: #313131;
	box-sizing: border-box;
	margin: 0;
}
#copyright-container{
	position: relative;
	float: right;
	right: 5%;
	margin-top: 0.5%;
	box-sizing: border-box;
}
#copyright-text{
	color: white;
	font-size: 14px;
}
#copyright-img{
	position: relative;
	right: 36%;
	margin-top: -10%;
}
#reminder-text{
	position: relative;
	left: 10%;
	margin-top: -2%;
	color: #707070;
	font-size: 8px;
}
#help{
	float: left;
	margin-top: 0.3%;
	margin-left: 2%;
	padding-right: 3%;
}
#help-buttons-container{
	margin-bottom: -3.7%;
}
.help-button{
	display: inline;
	margin-right: 0.005%;
}
.help-button-type{
	font-size: 14px;
	color: white;
}
.help-button-type:hover{
	color: red;
}
.help-number{
	display: inline;
	margin-right: 0.005%;
}
.help-number-type{
	font-size: 14px;
	color: white;
	font-family: sans-serif;
}




/*RWD設定*/
@media screen and (max-width: 400px){
	/*最上方選單*/
	#top{ 
		position: absolute;
		top: 50%;
		left: 8px;
		padding: 3%;
		transform: translate(0, -65%);
		display: block;
	}
	#title{
		position: relative;
		margin-left: 93px;
		margin-bottom: 10px;
	}
	.top-button{
		position: relative;
		display: inline;
		left: 3%;
		margin-right: 15px;
	}
	nav{
		padding-top: 25%;
	}

	/*車款介紹*/
	.main_title{
		transform: scale(0.6);
	}
	.car-price{
		font-size: 12px;
	}
	.type-text{
		font-size: 12px;
	}
	.second_1{
		display: block;
		margin-top: 5%;
	}
	.second_2{
		display: block;
		margin-top: 5%;
	}

	/*會員註冊*/
	.member-title{
		transform: scale(0.6);
	}
	.member-register-space{
		position: relative;
		width: 80%;
		height: 350px;
		left: 10%;
		margin-bottom: 10%;
	}
	#member-register-title{
		transform: scale(0.6);
	}
	.member-register-input{
		text-indent: 15%;
	}
	#member-register-text-space{
		font-size: smaller;
		transform: scale(0.8);
	}
	.g-recaptcha {
        transform: scale(0.7);
    }

	/*關於我們*/
	.about-us-block{
		display: none;
	}

	/*底部*/
	#bottom{
		height: 170px;
	}
	#copyright-text{
		position: relative;
		left: -3%;
		margin-top: 15%;
	}
	#copyright-img{
		float: right;
		margin-top: -19%;
	}
	#reminder-text{
		position: relative;
		margin-top: 5%;
		left: 3%;
	}
	#help{
		position: relative;
		text-align: center;
		margin-top: -4%;
		left: -2%;
	}
	.help-button{
		margin-right: 0.0001%;
	}
}



@media screen and (min-width: 400px) and (max-width: 450px){
	/*最上方選單*/
	#top{ 
		position: absolute;
		top: 50%;
		left: 8px;
		padding: 5%;
		transform: translate(0, -65%);
		display: block;
	}
	#title{
		position: relative;
		margin-left: 95px;
		margin-bottom: 5px;
	}
	.top-button{
		position: relative;
		display: inline;
		left: 3%;
		margin-right: 20px;
	}
	nav{
		padding-top: 21%;
	}
	/*車款介紹*/
	.main_title{
		transform: scale(0.6);
	}
	.car-price{
		font-size: 12px;
	}
	.type-text{
		font-size: 12px;
	}
	.second_1{
		display: block;
		margin-top: 5%;
	}
	.second_2{
		display: block;
		margin-top: 5%;
	}
	/*會員註冊*/
	.member-title{
		transform: scale(0.6);
	}
	.member-register-space{
		position: relative;
		width: 80%;
		height: 350px;
		left: 10%;
		margin-bottom: 10%;
	}
	#member-register-title{
		transform: scale(0.6);
	}
	.member-register-input{
		text-indent: 15%;
	}
	#member-register-text-space{
		font-size: smaller;
		transform: scale(0.8);
	}
	.g-recaptcha {
        transform: scale(0.8);
    }
	/*關於我們*/
	.about-us-block{
		display: none;
	}
	/*底部*/
	#bottom{
		height: 170px;
	}
	#copyright-text{
		position: relative;
		left: -7%;
		margin-top: 15%;
	}
	#copyright-img{
		float: right;
		margin-top: -19%;
		margin-right: 8%;
	}
	#reminder-text{
		position: relative;
		margin-top: 5%;
		left: -1%;
	}
	#help{
		position: relative;
		text-align: center;
		margin-top: -4%;
		left: 2%;
	}
	.help-button{
		margin-right: 0.0001%;
	}
}



@media screen and (min-width: 450px) and (max-width: 1350px){
	/*車輛介紹*/
	.type-text{
		font-size: 8px;
	}
	/*底部*/
	.help-button{
		margin-right: 0;
	}
}