body{
	margin: 0;
	font-family: sans-serif, Microsoft JhengHei;
}
/*最上方選單*/
.top{
	width: 100%;
	height: 72.5px;
	background: white;
	z-index: 1;
	position: fixed;
	box-shadow: #666 0 0 5px;
	box-sizing: border-box;
}
.title{
	float: left;
	color: white;
	z-index: 2;
	position: fixed;
	margin-top: -2.5%;
	margin-left: 1.5%;
}
#top-buttons-container{
	margin-top: -3.2%;
	margin-left: 10%;
}
.top-button{
	display: inline;
	margin-right: 3%;
}
.top-button-type{
	font-size: 16px;
	color: gray;
}
.top-button-type:hover{
	color: red;
}
nav{
	padding-top: 3.75%;
}




/*會員註冊*/
.member-title{
	position: relative;
	margin-top: 6%;
	text-align: center;
}
.member-register-space{
	position: relative;
	z-index: 0;
	margin-top: 3%;
	width: 40%;
	height: 450px;
	left: 30%;
	margin-bottom: 5%;
	background: #EEEEEE;
	box-sizing: border-box;
}
#member-register-title{
	position: relative;
	padding-top: 5%;
	text-align: center;
}
#mail{
	position:relative;
	margin-top: 5%;
	left: 9%;
}
::-webkit-input-placeholder { /* Chrome, Safari */
    color: gray;
	font-weight: bolder;
}
i{
    position: absolute;
    z-index: 2;
	font-size: 24px;
	top: 27%;
    left: 2.5%;
    color: gray;
}
.member-register-input{
	position: relative;
    z-index: 1;
    width: 80%;
    height: 50px;
    border: 2px solid #BCA7A7;
    border-radius: 3px;
    color: black;
    outline: none;
    font-size: 18px;
    text-indent: 10%;
}
#member-register-text-space{
	text-align: center;
	margin-top: 3%;
}
.member-register-text{
	display:inline;
}
.member-register-hyperlink{
	color: #699ECC;
}
.member-register-hyperlink:hover{
	color: royalblue;
}
.g-recaptcha{
	position: relative;
	left: 30%;
	margin-top: 5%;
}




/*底部*/
#bottom{
	width: 100%;
	height: 86px;
	background: #313131;
	box-sizing: border-box;
	margin: 0;
}
#copyright-container{
	position: relative;
	float: right;
	right: 5%;
	margin-top: 0.3%;
	box-sizing: border-box;
}
#copyright-text{
	color: white;
	font-size: 14px;
}
#copyright-img{
	position: relative;
	right: 36%;
	margin-top: -10%;
}
#reminder-text{
	position: relative;
	left: 10%;
	margin-top: -2%;
	color: #707070;
	font-size: 8px;
}
#help{
	float: left;
	margin-top: 0.3%;
	margin-left: 2%;
}
#help-buttons-container{
	margin-bottom: -3.7%;
}
.help-button{
	display: inline;
	margin-right: 0.005%;
}
.help-button-type{
	font-size: 14px;
	color: white;
}
.help-button-type:hover{
	color: red;
}
.help-number{
	display: inline;
	margin-right: 0.005%;
}
.help-number-type{
	font-size: 14px;
	color: white;
	font-family: sans-serif;
}




/*RWD設定*/
@media screen and (max-width: 400px){
	/*最上方選單*/
	.title{
		position: relative;
		left: 27%;
		margin-top: -18%;
		color: white;
		z-index: 2;
		position: fixed;
	}
	#top-buttons-container{
		margin-top: -13%;
		margin-left: -1%;
	}
	.top-button{
		display: inline;
		margin-right: 3%;
	}
	nav{
		padding-top: 21%;
	}
	/*會員註冊*/
	#member-register-text-space{
		font-size: smaller;
		transform: scale(0.8);
	}
	/*底部*/
	#bottom{
		height: 170px;
	}
	#copyright-text{
		position: relative;
		left: -3%;
		margin-top: 15%;
	}
	#copyright-img{
		float: right;
		margin-top: -19%;
	}
	#reminder-text{
		position: relative;
		margin-top: 5%;
		left: 3%;
	}
	#help{
		position: relative;
		text-align: center;
		margin-top: -4%;
		left: -2%;
	}
	.help-button{
		margin-right: 0.0001%;
	}
}

@media screen and (min-width: 400px) and (max-width: 450px){
	/*最上方選單*/
	.title{
		position: relative;
		left: 28%;
		margin-top: -18%;
		color: white;
		z-index: 2;
		position: fixed;
	}
	#top-buttons-container{
		margin-top: -13%;
		margin-left: 3%;
	}
	.top-button{
		display: inline;
		margin-right: 3%;
	}
	nav{
		padding-top: 21%;
	}
	/*會員註冊*/
	#member-register-text-space{
		font-size: smaller;
		transform: scale(0.8);
	}
	/*底部*/
	#bottom{
		height: 170px;
	}
	#copyright-text{
		position: relative;
		left: -7%;
		margin-top: 0.35%;
	}
	#copyright-img{
		position: relative;
		left: -37%;
		margin-top: 0%;
	}
	#reminder-text{
		position: relative;
		margin-top: 5%;
		left: -12.5%;
	}
	#help{
		position: relative;
		left: 2.5%;
		text-align: center;
		margin-top: -2%;
	}
	.help-button{
		margin-right: 0.0001%;
	}
}

@media screen and (min-width: 450px) and (max-width: 1350px){
	/*最上方選單*/
	.title{
		margin-top: -2%;
	}
	#top-buttons-container{
		margin-top: -2.95%;
		margin-left: 13%;
	}
	/*底部*/
	.help-button{
		margin-right: 0.0001%;
	}
	#copyright-img{
		margin-top: 1.5%;
	}
	#reminder-text{
		float: right;
		margin-top: 3%;
		margin-right: -33%;
		color: #707070;
		font-size: 8px;
	}
}