body{
	margin: 0;
	font-family: sans-serif, Microsoft JhengHei;
}
/*最上方選單*/
#top-container{
	width: 100%;
	height: 72.5px;
	margin: 0;
	background: white;
	z-index: 1;
	position: fixed;
	box-shadow: #666 0 0 5px;
	box-sizing: border-box;
}
#top{ 
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translate(0, -90%);
	display: flex;
}
#title{
	position: relative;
	margin-right: 50px;
}
.top-button{
	position: relative;
	display: inline;
	margin-right: 30px;
	margin-top: 4px;
}
.top-button-type{
	font-size: 16px;
	color: gray;
}
.top-button-type:hover{
	color: red;
}
nav{
	padding-top: 80px;
}
#top-container-mobile{
	display: none;
}





/*會員註冊*/
.member-register-space{
	position: relative;
	z-index: 0;
	margin-top: 5%;
	width: 40%;
	height: 450px;
	left: 30%;
	margin-bottom: 5%;
	background: #EEEEEE;
	box-sizing: border-box;
}
.member-title{
	position: relative;
	margin-top: 6%;
	text-align: center;
}
#member-register-title{
	position: relative;
	padding-top: 5%;
	text-align: center;
}
#mail{
	position:relative;
	margin-top: 5%;
	left: 9%;
}
::-webkit-input-placeholder { /* Chrome, Safari */
    color: gray;
	font-weight: bolder;
}
.register-account>i{
    position: absolute;
    z-index: 2;
	font-size: 24px;
	top: 27%;
    left: 2.5%;
    color: gray;
}
.icon-valid>i{
	display: none;
}
.register-account>input:required:valid+.icon-valid>.fa-check-circle{
	display: inline;
	position: absolute;
    z-index: 2;
	font-size: 24px;
	left: 76%;
	bottom: 25%;
	color: green;
}
.register-account>input:focus:required:invalid+.icon-valid>.fa-times-circle{
	display: inline;
	position: absolute;
    z-index: 2;
	font-size: 24px;
	left: 76%;
	bottom: 25%;
	color: red;
}
.member-register-input{
	position: relative;
    z-index: 1;
    width: 80%;
    height: 50px;
    border: 2px solid #BCA7A7;
    border-radius: 3px;
    color: black;
    outline: none;
    font-size: 18px;
    text-indent: 10%;
}
#member-register-text-space{
	text-align: center;
	margin-top: 3%;
}
.member-register-text{
	display:inline;
}
.member-register-hyperlink{
	color: #699ECC;
}
.member-register-hyperlink:hover{
	color: royalblue;
}
.g-recaptcha{
	position: relative;
	left: 30%;
	margin-top: 5%;
}




/*底部*/
#bottom{
	width: 100%;
	height: 86px;
	background: #313131;
	box-sizing: border-box;
	margin: 0;
}
#copyright-container{
	position: relative;
	float: right;
	right: 120px;
	margin-top: 0.5%;
	box-sizing: border-box;
}
#copyright-container-mobile{
	display: none;
}
#copyright-text{
	position: relative;
	left: 30%;
	color: white;
	font-size: 14px;
}
#copyright-img{
	position: relative;
	right: 30px;
	margin-top: -9.5%;
}
#reminder-text{
	position: relative;
	left: 35%;
	margin-top: 0%;
	color: #707070;
	font-size: 8px;
}
#help{
	float: left;
	padding-top: 10px;
	margin-left: 10px;
	padding-right: 3%;
}
#help-mobile{
	display: none;
}
#help-buttons-container{
	margin-bottom: -4%;
}
.help-button{
	display: inline;
	margin-right: 0.005%;
}
.help-button-type{
	font-size: 14px;
	color: white;
}
.help-button-type:hover{
	color: red;
}
.help-number{
	display: inline;
	margin-right: 0.005%;
}
.help-number-type{
	font-size: 14px;
	color: white;
	font-family: sans-serif;
}




/*RWD設定*/
@media screen and (max-width: 400px){
	h1{
		transform: scale(0.6);
	}
	nav{
		padding-top: 107.5px;
	}
	/*最上方選單*/
	#top-container{
		display: none;
	}
	#top-container-mobile{
		display: block;
		width: 100%;
		height: 100px;
		margin: 0;
		background: white;
		z-index: 1;
		position: fixed;
		box-shadow: #666 0 0 5px;
		box-sizing: border-box;
	}
	#top-mobile{ 
		display: block;
		text-align: center;
		margin-top: -80px;
	}
	#title-mobile{
		display: block;
		position: relative;
		right: 20px;
		margin-bottom: 10px;
	}
	.top-button{
		position: relative;
		right: 10px;
		margin-right: 10px;

	}
	/*會員註冊*/
	#member-register-text-space{
		font-size: smaller;
		transform: scale(0.8);
	}
	.register-account>input:required:valid+.icon-valid>.fa-check-circle{
		left: 73%;
	}
	.register-account>input:focus:required:invalid+.icon-valid>.fa-times-circle{
		left: 73%;
	}
	/*底部*/
	#copyright-container{
		display: none;
	}
	#help{
		display: none;
	}
	#bottom{
		height: 170px;
	}
	#copyright-container-mobile{
		display: block;
		text-align: center;
	}
	#copyright-img-mobile{
		position: relative;
		padding-top: 20px;
	}
	#copyright-text-mobile{
		margin-top: -12px;
		color: white;
		font-size: 14px;
	}
	#reminder-text-mobile{
		margin-top: -10px;
		color: #707070;
		font-size: 8px;
	}
	#help-mobile{
		display: block;
		text-align: center;
		margin-top: 30px;
	}
	#help-buttons-container-mobile{
		position: relative;
		right: 20px;
		margin-bottom: -10px;
	}
	#help-numbers-container-mobile{
		position: relative;
		right: 20px;
	}
}





@media screen and (min-width: 400px) and (max-width: 450px){
	h1{
		transform: scale(0.6);
	}
	nav{
		padding-top: 107.5px;
	}
	/*最上方選單*/
	#top-container{
		display: none;
	}
	#top-container-mobile{
		display: block;
		width: 100%;
		height: 100px;
		margin: 0;
		background: white;
		z-index: 1;
		position: fixed;
		box-shadow: #666 0 0 5px;
		box-sizing: border-box;
	}
	#top-mobile{ 
		display: block;
		text-align: center;
		margin-top: -80px;
	}
	#title-mobile{
		display: block;
		position: relative;
		right: 20px;
		margin-bottom: 10px;
	}
	.top-button{
		position: relative;
		right: 10px;
		margin-right: 10px;
	}
	/*會員註冊*/
	#member-register-text-space{
		font-size: smaller;
		transform: scale(0.8);
	}
	.register-account>input:required:valid+.icon-valid>.fa-check-circle{
		left: 73%;
	}
	.register-account>input:focus:required:invalid+.icon-valid>.fa-times-circle{
		left: 73%;
	}
	/*底部*/
	#copyright-container{
		display: none;
	}
	#help{
		display: none;
	}
	#bottom{
		height: 170px;
	}
	#copyright-container-mobile{
		display: block;
		text-align: center;
	}
	#copyright-img-mobile{
		position: relative;
		padding-top: 20px;
	}
	#copyright-text-mobile{
		margin-top: -12px;
		color: white;
		font-size: 14px;
	}
	#reminder-text-mobile{
		margin-top: -10px;
		color: #707070;
		font-size: 8px;
	}
	#help-mobile{
		display: block;
		text-align: center;
		margin-top: 30px;
	}
	#help-buttons-container-mobile{
		position: relative;
		right: 20px;
		margin-bottom: -10px;
	}
	#help-numbers-container-mobile{
		position: relative;
		right: 20px;
	}
}




@media screen and (min-width: 450px) and (max-width: 850px){
	h1{
		transform: scale(0.8);
	}
	nav{
		padding-top: 107.5px;
	}
	/*最上方選單*/
	#top-container{
		display: none;
	}
	#top-container-mobile{
		display: block;
		width: 100%;
		height: 100px;
		margin: 0;
		background: white;
		z-index: 1;
		position: fixed;
		box-shadow: #666 0 0 5px;
		box-sizing: border-box;
	}
	#top-mobile{ 
		display: block;
		text-align: center;
		margin-top: -80px;
	}
	#title-mobile{
		display: block;
		position: relative;
		right: 20px;
		margin-bottom: 10px;
	}
	/*車輛介紹*/
	.second_1{
		display: block;
		margin-top: 5%;
	}
	.second_2{
		display: block;
		margin-top: 5%;
	}
	/*會員註冊*/
	.member-title{
		position: relative;
		margin-top: 10%;
	}
	.member-register-space{
		position: relative;
		width: 400px;
		height: 400px;
		margin-bottom: 15%;
	}
	.member-register-input{
		text-indent: 13%;
	}
	.register-account>input:required:valid+.icon-valid>.fa-check-circle{
		left: 73%;
	}
	.register-account>input:focus:required:invalid+.icon-valid>.fa-times-circle{
		left: 73%;
	}
	/*關於我們*/
	.about-us-block{
		display: none;
	}
	/*底部*/
	#copyright-container{
		display: none;
	}
	#help{
		display: none;
	}
	#bottom{
		height: 170px;
	}
	#copyright-container-mobile{
		display: block;
		text-align: center;
	}
	#copyright-img-mobile{
		position: relative;
		padding-top: 20px;
	}
	#copyright-text-mobile{
		margin-top: -12px;
		color: white;
		font-size: 14px;
	}
	#reminder-text-mobile{
		margin-top: -10px;
		color: #707070;
		font-size: 8px;
	}
	#help-mobile{
		display: block;
		text-align: center;
		margin-top: 30px;
	}
	#help-buttons-container-mobile{
		position: relative;
		right: 20px;
		margin-bottom: -10px;
	}
	#help-numbers-container-mobile{
		position: relative;
		right: 20px;
	}
}



@media screen and (min-width: 851px) and (max-width: 1350px){
	/*底部*/
	.help-button{
		margin-right: 0;
	}
}