body{
	margin: 0;
}
/*最上方選單*/
.top{
	width: 100%;
	height: 72.5px;
	background: white;
	z-index: 1;
	position: fixed;
	box-shadow: #666 0 0 5px;
	box-sizing: border-box;
}
.title{
	float: left;
	color: white;
	z-index: 2;
	position: fixed;
	margin-top: -2.5%;
	margin-left: 1.5%;
}
/*.top-buttons{
	box-sizing: border-box;
	margin-left: 230px;
	display: flex;
	justify-content: flex-start;
}
.top-button-type{
	box-sizing: border-box;
	font-size: 16px;
	color: gray;
}
.top-button-type:hover{
	color: red;
}*/

#top-buttons-container{
	margin-top: -3.2%;
	margin-left: 10%;
}
.top-button{
	display: inline;
	margin-right: 3%;
}
.top-button-type{
	font-size: 16px;
	color: gray;
}
.top-button-type:hover{
	color: red;
}
nav{
	padding-top: 3.75%;
}



/*圖片輪播效果*/
.slider_container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    background-color: #f5f5f5;
    box-shadow: #666 0 0 5px;
}
.slider_container div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.slider_container div {
    -webkit-animation: round 25s linear infinite;
            animation: round 25s linear infinite;
}
@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
.slider_container div:nth-child(5) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.slider_container div:nth-child(1) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}


/*車款介紹*/
#car_type{
	position: relative;
	z-index: 0;
}
article{
	display: block;
}
div{
	display: block;
}
.main_title{
	position: relative;
	margin-top: 40%;
	text-align: center;
}
.second_1{
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}
.second_2{
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}
.car-info{
	position: relative;
	text-align: center;
}
.car-name{
	margin-top: 5%;
	margin-bottom: 2%;
	font-family: sans-serif;
	color: black;
}
.car-name:hover{
	color: red;
}
.car-price{
	color: gray;
}
.car-type-long{
	width: 35%;
	height: 20px;
	margin-top: 2%;
	background: gray;
    border: 1px solid;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-style:none;
}
.car-type-short{
	width: 18%;
	height: 20px;
	margin-top: 2%;
	background: gray;
    border: 1px solid;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-style:none;
}
.type-text{
	font-size: 8px;
	color: white;
}


/*會員註冊*/
.member_title{
	position: relative;
	margin-top: 6%;
	text-align: center;
}
.member_register_space{
	position: relative;
	z-index: 0;
	margin-top: 3%;
	width: 100%;
	height: 700px;
	background: gray;
	box-sizing: border-box;
}
.member_register_text{
	font-size: 28px;
	color: white;
}
.member_register_input{
	width: 90%;
	height: 40px;
	font-size: 18px;
}
#account{
	margin-left: 4%;
	padding-top: 2.5%;
}
#password{
	margin-left: 4%;
	margin-top: 3%;
}
#phone{
	margin-left: 4%;
	margin-top: 3%;
}
#submit-member-file{
	float: left;
	margin-left: 47.5%;
	margin-top: 5%;
}
#submit-member-file-input{
	width: 100px;
	height: 40px;
	font-size: 18px;
	color: black;
}


/*關於我們*/
#about-us{
	display: flex;
	justify-content: space-around;
}
.about-us-block{
	width: 16.67%;
	height: 350px;
	margin-top: 2%;
}
.about-us-title{
	text-align: left;
	margin-left: 35%;
	font-size: 16px;
	color: #BA2235;
}
.about-us-text{
	list-style-type: none;
	text-align: left;
	margin-left: 35%;
	margin-top: 10%;
}
.about-us-text-container{
	margin-bottom: 3.3%;
}
.about-us-text-type{
	font-size: 14px;
	line-height: 0.5;
	font-family: sans-serif;
	color: gray;
}
.about-us-text-type:hover{
	color: red;
}
#bottom{
	width: 100%;
	height: 86px;
	background: #313131;
	box-sizing: border-box;
	margin: 0;
}
#copyright-container{
	box-sizing: border-box;
}
#copyright-text{
	float: right;
	color: white;
	font-family: sans-serif;
	font-size: 14px;
	margin-right: 3%;
	margin-top: 0.35%;
}
#copyright-img{
	float: right;
	margin-right: 0.9%;
	margin-top: 1.15%;
}
#reminder-text{
	float: right;
	margin-top: 2.2%;
	margin-right: -23%;
	color: #707070;
	font-size: 8px;
}
/*#help-button-first{
	float: left;
	margin-top: 20px;
	margin-left: 75px;
	font-size: 14px;
}
.help-button-type{
	color: white;
}
.help-button-type:hover{
	color: red;
}
.help-button-symbol{
	float: left;
	margin-top: 7.5px;
	margin-left: -15px;
	font-size: 14px;
	color: white;
}
#help-button{
	float: left;
	margin-top: 21px;
	margin-left: -6px;
	font-size: 14px;
	color: white;
}
#help-button-last{
	float: left;
	margin-top: 40px;
	margin-left: -328px;
	font-size: 14px;
	color: white;
}
#help-button-symbol-last{
	float: left;
	margin-top: 28px;
	margin-left: -184px;
	font-size: 14px;
	color: white;
}
.help-button-type-phone{
	color: white;
}
#help-button-end{
	float: left;
	margin-top: 43px;
	margin-left: -175px;
	font-size: 14px;
	color: white;
}*/
#help{
	float: left;
	margin-top: 0.3%;
	margin-left: 2%;
}
#help-buttons-container{
	margin-bottom: -3.7%;
}
.help-button{
	display: inline;
	margin-right: 0.005%;
}
.help-button-type{
	font-size: 14px;
	color: white;
}
.help-button-type:hover{
	color: red;
}
.help-number{
	display: inline;
	margin-right: 0.005%;
}
.help-number-type{
	font-size: 14px;
	color: white;
	font-family: sans-serif;
}